doctype html
html(lang="en")
  head
    title User Created Successfully
    link(rel="stylesheet" href="form-response-good.css")
  body
    .container
      h1 User Created Successfully!
      p A new user has been created:
      table
        thead
          tr
            th Name
            th Email
            th ID
        tbody
          tr
            td #{ newUser.name }
            td #{ newUser.email }
            td #{ newUser.userId }
      .actions
        a(href="/users") View All Users
